
* {
  box-sizing: border-box; }

html {
background: #a2a2a2;
}

nav {
  text-align: center;
  background: #e0f5ff;
/*  background: #FBF7F4;
*/  font-weight: 300;
  height: 75px;
  z-index: 999;
          box-shadow: rgba(0, 0, 0, 0.0470588) 0px 3px 5px -1px, rgba(0, 0, 0, 0.0666667) 0px 5px 8px 0px, rgba(0, 0, 0, 0.0588235) 0px 1px 14px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 3px 5px -1px, rgba(0, 0, 0, 0.0666667) 0px 5px 8px 0px, rgba(0, 0, 0, 0.0588235) 0px 1px 14px 0px;;

}

strong, b {
  font-weight: bolder;
}

.nav-fixed {
  position: fixed;
  width: 100%;
}

.nav-spacer {
  display: block;
  height: 75px;
}

.clear {
  clear: both;
}

.nav-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.menu-btn {

  height: 80px;
  margin-top: -12px;
    position: absolute;

}

.navbar{
        width: 100px;
        height: 100px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
}
.navbar div{
        height: 3px;
        width: 40px;
        background-color: #536f38;
        position: absolute;
        transition: all 0.5s ease;
        border-radius: 20px;
}
.navbar .first{
        top: 30px;
        left: 20px;
}

.navbar .second{
        top: 45px;
        left: 20px;
}

.navbar .third{
        top: 60px;
        left: 20px;
}

.navbar:hover div:nth-child(1) {
  transform: translate(15px, 15px) rotate(90deg);
  transition: all 0.5s;
}

.navbar:hover div:nth-child(2) {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.navbar:hover div:nth-child(3) {
  transform: translate(-15px, -15px) rotate(90deg);
  transition: all 0.5s;
}

#nav-logo {
  float:right;
  height: 50px;
  margin-top: 13px;
}

#nav-title {
  display: inline-block;
  color: #505050;
  font-size: 20pt;
  margin: 20px 0 0 10px;
}


.page-anchor {
  height: 75px;
  display: block;
  position: relative;
  width: 0;
  margin-top: -75px;
}

body {
  margin: 0;
 }

.container {
  max-width: 750px;
  margin: 0 auto;
  clear: both;
background: white;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  font-family: 'Open Sans', Helvetica, sans-serif;
  list-style-type: circle;
}

img {
  max-width: 100%;
}

.width50 {
  width: 47%;
  margin-right: initial;
}

figure {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-right: 20px;
  padding: 20px;
}

figcaption {
  text-align:center;
  font-family: italic;
  color: rgb(111, 111, 111);
  padding-top:15px;
}

.float-left {float:left;}

.float-right {float:right;}


h1, h2, h3, h4 {
  display: block;
  color: #505050;
  text-align: center;
  margin: 0 auto;
  font-family: 'KoHo', Helvetica, sans-serif;
  clear: both;
  font-weight: normal;
}

.deep-dive h1,.deep-dive h2,.deep-dive h3,.deep-dive h4 {
  padding: 30px 0 15px 0;
}

h1 {
  padding: 20px 0;
}
h3 {
  font-size:1.5em;o
  line-height:3;
}

a, a:visited {
  color: #15868E;
}

a:hover {
  color: #30f2bc;
  transition: 0.3s;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 20px 15px 15px 25px;
  margin: 0;
}

.clear {clear: both;}

.hero-banner {
/*  height: 500px;
*/  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.video {
            width: 100%;
            margin-bottom: -4px;
        }

.body-sm, .body-md {
  margin: 0;
  color: rgb(51, 51, 51);
}

.body-sm {
  font-size:11pt;
  line-height: 1.5;
}

.body-md {
  font-size: 13pt;
  line-height: 1.6;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.twenty-pad {
  padding-bottom: 20px;
}

.forty-pad {
  padding-bottom: 40px;
}

blockquote {
  color: white;
  font-size:18pt;
  line-height: 2;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-align: center;
  width: 800px;
  display: block;
  margin: 0 auto;
  text-align: left;
}

.quote-citation {
  text-align: right;
  color: white;
  font-size:15pt;
  width: 800px;
  display: block;
  margin: 0 auto;
}

.quote-mark {
  font-family: 'Playfair display', serif;
  font-size:40pt;
  margin: 0;
  padding: 0;
  line-height: 0;
}

 button.learn-more {
/*
  border: 2px solid #D8FFF5;
  background: #D8FFF5;
*/
    padding: 15px;
    margin: 15px;
    color: #00c0d4;
    position: relative;
    left:30%;
    border: 0;
    font-size:18px;
    box-shadow: 5px 5px 5px #99999985;
    border: 1px solid #d4d4d4;
    border-radius: 10px;

}

button.learn-more:hover  {

    transition: 0.5s;
    box-shadow: 0 0 0 white;
    background: #00c0d4;
    border: 0;
    color: white;
}



.button.learn-more a::hover {
    color: white;
}


button.bottom-nav {
  border: 0px solid rgb(76, 76, 76);
  background: #D8FFF5;
  padding: 18px;
    margin: 20px 0;
    border-radius: 15px;
}

button.bottom-nav a {
  background: none;
  color:rgb(76, 76, 76);
}

button.bottom-nav:hover {
  background: white;
  transition: 0.5s;
}

button#lets-chat {
  border: 2px solid #e4fbd4;
  background: #15868E;
  padding: 15px;
  margin: 15px;
  color:white;
}

button#lets-chat:hover {
  border: 2px solid #15868E;
  background: white;
  transition: 0.5s;
  color:rgb(76, 76, 76);
}

.bottom-nav-wrapper {
  background: #47c7a4;
  clear: both;
  float: right;
  width: 100%;
}

.bottom-nav-wrapper .container {
    background: none;
}

.float-right {float: right;}
.float-left {float:left;}

footer {
  background: #5d3a10;
  width: 100%;
  clear: both;
}

.banner {
  background: #15868E;
  width: 100%;
  padding: 40px 0;
}

.photos-carousel img {
  width: 100%;
  margin-bottom: -4px;
}

.three-column {
  width: 33.33%;
  max-width: 350px;
  margin: 0 auto;
}

.copy-block {
  padding-top: 5%;
  padding-bottom:5%;
    background: white;
}

.copy-block p {
  padding: 8px 15px 0 25px
}

.icons {
  width: 140px;
  display: block;
  margin: 0 auto;
}

.split {
  height: 376px;
  position: relative;
}

.row.threecol-wrapper, #systems .row {
  display: flex;
/*  margin-bottom: -4px;
*/  clear: both;
}

.sidebyside .row {
  display: flex;
  clear: both;
}

.column {
  /* background:#FBF7F4; */
}

/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.left, .right {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.image-text-wrapper {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'KoHo', Helvetica, sans-serif;
  font-size:25pt;
  margin-bottom: -7px;
}

.image-text-wrapper img {
  filter:grayscale(70%) blur(0px) brightness(0.70);
}

.image-text-wrapper img:hover {
  filter:grayscale(0%) blur(0px) brightness(1.0);
  transition: 0.6s;
}

.image-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(46, 46, 46, 0.68);
  padding: 0 6px 6px 6px;
  border-radius: 8px;
}

#copyright {
  text-align: center;
  color: rgb(209, 209, 209);
  font-style:italic;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

#copyright a {
  color: rgb(209, 209, 209);
  text-decoration: underline;
}

#air-infographic {
            background-image: url("../IMG/Systems/Air/air-handling-infographic3.png");
            height: 35vw;
            width: 100%;
        }

#water-infographic {
            background-image: url("../IMG/Systems/Water/greywater-infographic.png");
            height: 35vw;
            width: 100%;
        }

.embedded-youtube {
  height:423px;
}

/*xs (for phones - screens less than 768px wide)

sm (for tablets - screens equal to or greater than 768px wide)

md (for small laptops - screens equal to or greater than 992px wide)

lg (for laptops and desktops - screens equal to or greater than 1200px wide)*/

/* MEDIA QUERIES */

@media screen and (max-width : 850px)   {

  .container {
    max-width: 100%;
  }
  .split {
    height: 100%;
  }

  .banner {
    padding: 40px 10px 0;
  }

  blockquote {
    width: 100%;
    padding:0 20px;
    font-size: 14pt;
    line-height: 1.7;
  }
  .quote-mark {
    font-size: 30pt;
    position: relative;
    top: 10px;
  }

  .nav-wrapper {
    max-width: 100%;
    margin-right:10px;
  }

  .quote-citation {
    width: initial;
  }

  .copy-block p {
    padding: 10px 5px 0 15px;
  }

  .body-md {
    font-size: 12pt;
    line-height: 1.5;
  }

  button.bottom-nav {
    margin:15px;
  }

  button.learn-more {
    margin:10px;
  }

  .embedded-youtube {
  height:56.5vw;
}

}

@media screen and (max-width : 730px)   {
  .split img, .width50 {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    padding: 10px;
  }

  #nav-title {
    font-size: 18pt;
  }

  #nav-logo {
    height: 40px;
    margin-right: 3px;
  }
    
    .navbar div {
    height: 3px;
    width: 30px;
}


}

@media screen and (max-width : 660px)   {

  .sidebyside .row {
  }

  .left, .right {
    width: 100%;
    height: initial;
    margin-bottom: -4px;
  }

/*  .split.left .copy-block, .split.right .copy-block {
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    z-index: 99;
    padding-bottom: 5%;
  }

  .split.left .copy-block {
    top: 30vw;
    }

  .split.right .copy-block {
    bottom: 0;
    }*/

  button.learn-more {
    margin: 10px 5px 20px 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #nav-title {
    font-size: 15pt;
    font-weight: 400;
    margin: 25px 0 0 3px;
  }

  #nav-logo {
    height: 35px;
  }
}

@media screen and (max-width: 550px) {

  #nav-title {
    font-size: 14pt;
  }

  p {
    font-size: 11pt;
  }

  .three-column {
    width: 100%;
  }

  .row.threecol-wrapper {
    display: block;
  }
}

@media screen and (max-width: 500px) {

  .body-md {
    font-size: 11.5pt;
  }

  #nav-title {
    margin-left: -19px;
  }

  nav {
    height: 65px;
  }

  .nav-spacer {
    height: 65px;
  }
  #nav-logo {
    display: none;
  }

  .menu-btn {
    font-size: 30pt;

  }

  .banner {
    padding: 30px 10px 0;
  }

  blockquote {
    padding: 0;
    font-size:13pt;
  }

  .quote-citation {
    font-size:12pt;
  }

  .copy-block p {
    padding:5px 5px 0 10px;
  }
}
@media screen and (max-width: 400px) {

#nav-title {
    font-size:12pt;
  }

button.bottom-nav {
    font-size: 11pt;
    float: none;
    width: 200px;
    display: block;
    margin: 30px auto;
}

.body-md {
    font-size:10.5pt;
    line-height: 1.3;
  }

.three-column {
    margin: 0 auto;
    width: 300px;
  }
}
