
* {
  box-sizing: border-box; }

html {background-color:#E3FCD2;}

nav {
  text-align: center;
  background: white;
}

.nav-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.menu-btn {
  float: left;
  border: 0;
  width: 80px;
  height: 80px;
  font-size: 35pt;
  color: #636363;
  background: none;
}

#nav-logo {
  float:right;
  height: 50px;
  margin-top: 17px;
}

#nav-title {
  display: inline-block;
  color: #505050;
  font-size: 20pt;
  margin: 20px;
}

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
 }

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
 }

a:hover {
    text-decoration: underline; }

img {
  float:right;
  max-width: 100%;
}

h1, h2, h3, h4 {
  display: inline-block;
  font-family: 'KoHo', Helvetica, sans-serif;
}

h1 {
  display: block;
  color: #505050;
  text-align: center;
}
h3 {
  font-size:1.5em;o
  line-height:3;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


footer {
  background: #A86118;
  width: 100%;
  clear: both;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  clear: both;
  background: #FFFEFB;
}

.left, .right {
  width: 50%;
}

.left {
  float: left;
  background:green;
}

.right {
  float: right;
  background:purple;
}

/*xs (for phones - screens less than 768px wide)

sm (for tablets - screens equal to or greater than 768px wide)

md (for small laptops - screens equal to or greater than 992px wide)

lg (for laptops and desktops - screens equal to or greater than 1200px wide)*/

