
* {
  box-sizing: border-box; }

html {background-color:#E3FCD2;}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
 }

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
 }

a:hover {
    text-decoration: underline; }

img {
  float:right;
  max-width: 100%;
}

h1, h2, h3, h4 {
  display: inline-block;
}

h1 {
  text-align: center;
  font: green;
}
h3 {
  font-size:1.5em;o
  line-height:3;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


footer {
  background: #A86118;
  width: 100%;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
