
* {
  box-sizing: border-box; }

html {background-color:#E3FCD2;}

nav {text-align: center;}

.menu-btn {
  float: left;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
 }

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
 }

a:hover {
    text-decoration: underline; }

img {
  float:right;
  max-width: 100%;
}

h1, h2, h3, h4 {
  display: inline-block;
}

h1 {
  display: inline-block;
  color: green;
}
h3 {
  font-size:1.5em;o
  line-height:3;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


footer {
  background: #A86118;
  width: 100%;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.left, .right {
  width: 50%;
}

.left {
  float: left;
  background:green;
}

.right {
  float: right;
  background:purple;
}

/*xs (for phones - screens less than 768px wide)

sm (for tablets - screens equal to or greater than 768px wide)

md (for small laptops - screens equal to or greater than 992px wide)

lg (for laptops and desktops - screens equal to or greater than 1200px wide)*/

